<!DOCTYPE html>
<html lang="en">
  
<%- include('partials/header') %>

<div class="container">
    <h1>JS TRUTHS</h1>
    <p>An ever expanding list</p>
    <a href="/js" class="button">Click for truth</a>
</div>

<%- include('partials/footer'); %>