<!DOCTYPE html>
<html lang="en">
  
<%- include('../partials/header') %>
  <div class="container">
    <h1>JavaScript Truths</h1>
    <% if(error) { %>
      <h2><%= error %></h2>
    <% } %>
    <ul>
      <% facts.forEach(function(fact) { %>
        <li>
          <%= fact.text %>
        </li>
      <% }) %>
    </ul>
  </div>
<%- include('../partials/footer') %>